/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif; */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
}

a {
 text-decoration: none;
}

address{
font-style: normal;
}

/* Header section*/
.logo {
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4d5ae5; 
}

.header-logo .logo-part {
 color: #2e2f42;
}

.nav-link {
 font-weight: 500;
 font-size: 16px ;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #2e2f42;
 }

.contacts {
 font-style: normal;
 }
.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
 color: #404bbf
   }

/*Hero section*/

.hero {
 background-color: #2e2f42;
}
.hero-text {
 font-size: 56px;
 line-height: 1.07;
 letter-spacing: 0.02em;
 text-align: center;
 color: #fff;
}

.hero-btn {
  font-family: "Roboto", sans-serif;  
 background-color: #4d5ae5;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.04em;
 color: #fff;
 cursor: pointer;
 }


.hero-btn:focus,
.hero-btn:hover {
    background-color: #404bbf;

}
.hero{
 background: #2e2f42;
}

/* Team section*/ 

.features-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.features-description {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.team-section {
     background-color: #f4f4fd;
}

.section-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.team-item {
    background-color: #fff;;
}
.member-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.member-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.portfolio-title {
 font-size: 36px;
 line-height: 1.11;
 letter-spacing: 0.02em;
 text-align: center;
 text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-item {
 background: #fff;
}

.portfolio-name {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-type {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
    }

/* Footer style*/

.page-footer {
  background-color: #2e2f42;  
}

.footer-logo  .logo-part {
 color: #f4f4fd
}
.footer-slogan {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #f4f4fd;
}
